<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <body>
    <% include templates\header.ejs %>
    <h1>About Us</h1>
    <p>Video Champ is the best way to drive traffic to your blogs,
        increase fan engagement and save time on video sharing.</p>
    <div>
        <p>
            Innovation, quality and service are central components of our philosophy. We believe in serving our customers with the most innovative tools ensuring quality service that they deserve. Customer convenience and their ultimate satisfaction after using Video Champ is our priority that will help us build a strong relationship with our users.
        </p>
    </div>
    </body>
</html>
