<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= projectName %></h1>
    <p>Welcome to our website!</p>
  <ul>
    <% for(var i=0;i<=2;i++){ %>
    <li>Try our service</li>
    <% }%>
  </ul>
  </body>
</html>
