<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include templates\header.ejs %>
    <h1><%= projectName %></h1>
    <h4>Find an easiest way to share your videos!</h4>
  <!--<ul>
    <% for(var i=0;i<=2;i++){ %>
    <li>Try our service</li>
    <% }%>
  </ul>-->
  </body>
</html>
